<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>D&D Character Generator</title>
    <link rel="stylesheet" href="/css/output.css">
  </head>

  <body>
    <div class="heading">

        <h1>
          <span role="img" aria-label="dragon">&#128009</span>
          <a class="grid  " href="/">D&D Character Generator</a>
        </h1>
    </div>
     <nav>
      <div class="hero">
        <img src="./assets/01.jpg" alt="">
        <embed src="assets\music\Now-We-Ride.mp3" type="audio/mpeg">
      </div>
          
    </nav>
      
      
       
          <!-- Conditionally render login or logout links -->
    {{#if logged_in}}
      <div class="profilebutton">
        <a href="/profile">profile</a> |
        <button class="no-button" id="logout">logout</button>
      </div>
      {{else}}
        <div class="button1">
          
         <button><a href="/login">login</a></button>
          <button><a href="/signup">Sign up</a></button>
        </div>
        <div class="mainbottom">
        
        </div>
          
          {{/if}}
        
      </header>
      
      
      
      <main>

        <!-- Render the sub layout -->
        {{{ body }}}
        
      </main>
      <footer>
        
      </footer>
    

    <!-- Render script for logged in users only -->
    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}
  </body>
</html>
