<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>D&D Character Generator</title>
    <link rel="stylesheet" href="/css/output.css">
  </head>

  <body>
    <div class="heading">
        <h1>
          <span role="img" aria-label="dragon">&#128009 
          <a href="/">D&D Character Generator</a></span>
        </h1>
    </div>

    
    <nav>
      <div class="hero"></div>
        <div class="button1">
          <button><a href="/login">Login</a></button>
          <button><a href="/signup">Sign Up</a></button>
        </div>
    </nav>
    <!-- Conditionally render login or logout links -->
    {{#if logged_in}}
      <div class="profilebutton">
        <a href="/profile">Profile</a> |
        <button class="no-button" id="logout">Logout</button>
      </div>
      {{else}}
        
       
          
        <div class="mainbottom"></div>
      {{/if}}
      </header>
      
      <main>
        <!-- Render the sub layout -->
        {{{ body }}}
      </main>
      <footer>
         <div class="music">
            <iframe width="700" height="500" src="https://www.youtube.com/embed/eb73_mE0S-k?autoplay=1" title="Tavern Dance | RPG/D&D Tavern/Inn Music | 1 Hour" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>
            </iframe>
          </div>
      </footer>
    <!-- Render script for logged in users only -->
    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}
  </body>
</html>
