<body>
    {{#if logged_in}}
        <div class="Welcome">Welcome User</div>
    {{else}}
        <div class="community">
        D&D Community News
        </div>
    {{/if}}



    
    
    
    
  




</body>
