<body>
    {{#if logged_in}}
    <div class="Welcome">
        <h3>
            Welcome!
        </h3>
    </div>
    <div>
        <a href="/character" class="btn create-new">Create New Character</a>
    </div>
    {{else}}
    <div class="main">
        <h3>
            Community Updates
        </h3>
    </div>
    <div class="community">
        <h6>
            D&D Community News
        </h6>
    </div>
    {{/if}}
</body>
