<body>
    {{#if logged_in}}
    <div class="Welcome">
        <h3>
            Welcome!
        </h3>
    </div>
    <div class="charbutton">
        <button class="create new">Create New Character</button>
    </div>
    <div class="savedchars">
        <a>Saved Characters Display her when logged in</a>
    </div>
    {{else}}
    <div class="main">
        <h3>
            Community Updates
        </h3>
    </div>
    <div class="community">
        <h6>
            D&D Community News
        </h6>
    </div>
    {{/if}}
</body>
