<div class="row mb-4 project">
  <div class="col-md-5">
    <p>D&D Community Updates</p>
    <div class="news/character container">
      <p>Recent News Displays Here</p>
    </div> 
    <div class="video container">
      <a>Related Video</a>
    </div>      <!-- Render the sub layout -->
  </div>
  <div class="col-md-7">
    <p>
      {{project.description}}
    </p>
  </div>
</div>


