<div class='col-md-4 container container-fluid mt-5'>
  <div>

    <form class='form login-form'>
      <div class='form-group'>
        <label for='email-login'>Email:</label>
        <input class='form-input' type='text' id='email-login' />
      </div>
      <div class='form-group'>
        <label for='password-login'>Password:</label>
        <input class='form-input' type='password' id='password-login' />
      </div>
      <div class='form-group'>
        <button class='btn btn-primary col-md' type='submit'>Enter</button>
      </div>
    </form>
  </div>
</div>

<script src='./js/login.js'></script>