<div class="row">
  <div class="col-auto">
    <h2>Welcome {{name}}!</h2>
  </div>
</div>

<div class="row mt-4 ml-5">
  <div class="col-md-6">
    <a href="/character" class="btn create-new">Create New Character</a>
  </div>

  {{#if characters.length}}
  <div class="col-md-6 project-list">
    <h3>Current Characters:</h3>

    {{#each characters as |character|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/character/{{character.id}}">{{character.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{character.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/profile.js"></script>
