<div class="row">
  <div class="col-auto">
    <h2>Welcome {{name}}!</h2>
  </div>
</div>

<div class="row mt-4 ml-5">
  <div class="col-md-6">
    <a href="/character" class="btn create-new">Create New Character</a>
  </div>

<div class="community">
  <a href="https://www.youtube.com/@criticalrole">Community content brought to you by our friends at Critical Role</a>
    <div class="video">
      <iframe width="700" height="500" src="https://www.youtube.com/embed/cGhVgjYSpIE?autoplay=1" title="Axiom Shaken | Critical Role | Campaign 3, Episode 43" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
</div>

  {{#if characters.length}}
  <div class="col-md-6 project-list">
    <h3>Current Characters:</h3>

    {{#each characters as |character|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/character/{{character.id}}">{{character.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{character.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/profile.js"></script>
